body {
    background-color: white;
}
.divMe {
    width: 20%;
    border-right: 1px solid black;
    text-align: center;

}
.divButtonLinks {
    position: fixed;
    width: 100%;
    top: 20px;
    text-align: center;

}
.bigBtnLinks {
    width: 350px;
    height: 150px;

}
.footer {
    position: fixed;
    text-align: center;
    bottom: 0px;
    height: 30px;
    width: 100%;
}
.imgProfile {
    width: 90%;
}
